@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text: rgb(0, 202, 0);
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  overflow: hidden;
  user-select: none;
}

div {
  white-space: pre-wrap;
  min-height: 100vh;
}

video {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
